<div class="head-with-filters">
  <h1 class="page-head">USERS</h1>
  <div class="app-filters">
    <div class="select-filters">
      <mat-form-field appearance="fill">
        <mat-label>Choose a role</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let role of roles"
            [value]="role.value"
          >
            {{ role.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class ="search-container">
      <mat-form-field class="full-width-input" appearance="outline">
        <input matInput placeholder="Search a user" type="text" >
      </mat-form-field>
      <button mat-icon-button class="button-primary">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="add-button-container">
      <button
        mat-icon-button
        aria-label="Create a new user"
        class="add-button"
        matTooltip="Create a new user"
      >
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
  </div>

</div>

<div class="item-list-container">
  <div class="table-headers user-table-template">
    <p class="table-header">USER</p>
    <p class="table-header">EMAIL</p>
    <p class="table-header">BALANCE</p>
    <p class="table-header">ROLE</p>
    <p class="table-header">MEMBER SINCE</p>
    <p class="table-header"></p>
  </div>
  <app-user-item *ngFor="let user of pagedUserList.items" [user]="user"></app-user-item>
  <app-paginator
    *ngIf="pagedUserList.items !== null"
    [isDarkBackground] ="true"
    [length]="pagedUserList.totalCount"
    [pageIndex]="pagedUserList.page - 1"
    [pageSize]="pagedUserList.pageSize"
    (pageChangedEvent)="onPageChangedEvent($event)"></app-paginator>
</div>


