<div class="head-with-filters">
  <h1 class="page-head">USERS</h1>
  <div class="app-filters">
    <form [formGroup]="usersFiltersForm">
      <div class="select-filters">
        <mat-form-field appearance="fill">
          <mat-label>Choose a role</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{ role.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Choose an email status</mat-label>
          <mat-select formControlName="emailStatus">
            <mat-option *ngFor="let status of statuses" [value]="status.value">
              {{ status.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="search-container">
        <mat-form-field class="full-width-input" appearance="outline">
          <input matInput placeholder="Search a user" formControlName="searchUser" type="text">
        </mat-form-field>
      </div>
    </form>
    <div class="add-button-container">
      <button
        mat-icon-button
        aria-label="Create a new user"
        (click)="fillCreateUserForm(); createUserDialog.open()"
        class="add-button"
        matTooltip="Create a new user"
      >
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
  </div>
</div>


<div class="item-list-container">
  <ng-container *ngIf="pagedUserList | async as pagedUserList; else noUserTemplate">
    <div class="sort-bar">
      <a class="sort-column">SORT BY: </a>
      <a class="sort-column active" title="Sort by default" (click)="onSortColumnClicked('default')">DEFAULT
        <mat-icon>swap_vert</mat-icon>
      </a>
      <a class="sort-column active" title="Sort by last name" (click)="onSortColumnClicked('lastname')">LAST NAME
        <mat-icon>swap_vert</mat-icon>
      </a>
      <a class="sort-column active" title="Sort by balance" (click)="onSortColumnClicked('balance')">BALANCE
        <mat-icon>swap_vert</mat-icon>
      </a>
      <a class="sort-column active" title="Sort by creation date" (click)="onSortColumnClicked('createddate')">CREATION
        DATE
        <mat-icon>swap_vert</mat-icon>
      </a>
      <a class="sort-column active" title="Sort by modification date" (click)="onSortColumnClicked('birthday')">MODIFICATION
        DATE
        <mat-icon>swap_vert</mat-icon>
      </a>
    </div>
    <div class="table-headers user-table-template">
      <p class="table-header">USER</p>
      <p class="table-header">EMAIL</p>
      <p class="table-header">EMAIL STATUS</p>
      <p class="table-header">BALANCE</p>
      <p class="table-header">ROLE</p>
      <p class="table-header">MEMBER SINCE</p>
      <p class="table-header">MODIFIED DATE</p>
      <p class="table-header"></p>
    </div>
    <app-user-item *ngFor="let user of pagedUserList.items" [user]="user"
                   (deleteRequest)="onDeleteUserClicked($event)"
                   (updateRequest)="fillUpdateUserForm($event); editUserDialog.open()"></app-user-item>
    <app-paginator
      *ngIf="pagedUserList.items.length > 0"
      [isDarkBackground]="true"
      [length]="pagedUserList.totalCount"
      [pageIndex]="pagedUserList.page - 1"
      [pageSize]="pagedUserList.pageSize"
      (pageChangedEvent)="onPageChangedEvent($event)"></app-paginator>
  </ng-container>
  <ng-template #noUserTemplate>
    <p class="main-text white">USERS NOT FOUND</p>
  </ng-template>
</div>

<app-pop-up #createUserDialog>
  <app-create-and-edit-user [form]="userActionsForm"
                            action="Create"
                            (createRequested)="handleCreateUser($event)"
                            (closed)="createUserDialog.close()"
                            *popUpContent></app-create-and-edit-user>
</app-pop-up>
<app-pop-up #editUserDialog>
  <app-create-and-edit-user [form]="userActionsForm"
                            action="Edit"
                            (updateRequested)="handleUpdateUser($event)"
                            (closed)="editUserDialog.close()"
                            *popUpContent></app-create-and-edit-user>
</app-pop-up>

