.team-card {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  padding-top: 20px;

  .team-card-content {
    .image-container {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    padding: 1rem;
    display: flex;
    flex-direction: column;

    max-height: calc(100vh - 120px);
    overflow-y: auto;

    .country-measurements-group {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
    }

    .jersey-number-add-experience-group {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 50px;
      gap: 10px;

    }

    .experience-actions {
      margin-top: 15px;
    }

    .button-action-container {
      display: flex;
      justify-content: center;
    }

    .add-button, .delete-button {
      justify-self: center; /* Centers the button in its grid cell */
    }

    /* If you want to make sure the delete button is always to the right */
    .delete-button {
      justify-self: end;
    }
  }
}
