<div class="page-content">
  <mat-card class="auth-card">
    <mat-card-content>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <h1>Login</h1>

        <p *ngIf="errorMessage != null">{{ errorMessage }}</p>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            placeholder="Password"
            formControlName="password"
          />

          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
            type="button"
          >
            <mat-icon>{{
                hidePassword ? "visibility_off" : "visibility"
              }}
            </mat-icon>
          </button>
          <mat-error
            *ngIf="
              getFormControl('password')?.dirty ||
              getFormControl('password')?.touched
            "
          >
            <span *ngIf="getFormControl('password')?.hasError('required')"
            >Password is <strong>required</strong></span
            >
            <span *ngIf="getFormControl('password')?.hasError('pattern')"
            >Please enter a valid password</span
            >
          </mat-error>
        </mat-form-field>

        <button
          class="full-width button-primary"
          mat-raised-button
          type="submit"
        >
          Reset password
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

