.mat-mdc-paginator{
  font-size: 18px !important;
}
.paginator-dark {
  background-color: transparent !important;
  color: white !important;
}

.paginator-light {
  background-color: transparent !important;
  color: black !important;
}


