<div class="page-content">
  <mat-card class="auth-card">
    <mat-card-content>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <h1>Forgot Password</h1>
        <p class="hints">Enter your email and we'll send you,a link to reset your password</p>
        <p *ngIf="errorMessage != null">{{ errorMessage }}</p>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="example@gmail.com"
            type="email"
            formControlName="email"
          />

          <mat-error
            *ngIf="
              getFormControl('email')?.dirty || getFormControl('email')?.touched
            "
          >
            <span *ngIf="getFormControl('email')?.hasError('required')"
            >Email is <strong>required</strong></span
            >
            <span *ngIf="getFormControl('email')?.hasError('email')"
            >Please enter a valid email</span
            >
          </mat-error>
        </mat-form-field>

        <button
          class="full-width button-primary"
          mat-raised-button
          type="submit"
        >
          Send link to email
        </button>

        <div class="hints">
          <p>
            Don't have an account?
            <a class="custom-link" routerLink="/sign-up">Sign up</a>
          </p>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
