<div class="match-list-container">
  <p class="head-type">{{ listHeader }}</p>
  <div class="table-headers" [ngClass]="{'match-table-template': !isAdmin, 'match-table-template-admin': isAdmin}">
    <p class="table-header">TIME</p>
    <p class="table-header">LOCATION</p>
    <p class="table-header">HOME TEAM</p>
    <p></p>
    <p class="table-header">AWAY TEAM</p>
    <p class="table-header">SCORE</p>
    <p class="table-header"></p>
    <p class="table-header" *ngIf="isAdmin"></p>
  </div>
  <match-item *ngFor="let match of matches" [match]="match" [isAdmin]="isAdmin"
              (deleteRequest)="onDeleteRequested($event)"
              (updateRequest)="onUpdateRequested($event)"></match-item>
</div>

