<div class="head-with-filters">
  <h1 class="page-head">PLAYERS</h1>
  <div class="app-filters">
    <form [formGroup]="playerFiltersForm">
      <div class="select-filters">
        <mat-form-field appearance="fill">
          <mat-label>Choose a team</mat-label>
          <mat-select formControlName="team">
            <mat-option value="All teams">All teams</mat-option>
            <mat-option *ngFor="let team of selectTeams$ | async" [value]="team.name">{{ team.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Choose a position</mat-label>
          <mat-select formControlName="position">
            <mat-option *ngFor="let position of positions" [value]="position.value">{{ position.value }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-select-country
          formControlName="country"
          appearance="fill"
          [itemsLoadSize]="0"
          label="Choose a country"
        ></mat-select-country>

        <div class="search-container">
          <mat-form-field class="full-width-input" appearance="outline">
            <input matInput placeholder="Search a player" type="text" formControlName="searchedPlayer"/>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="add-button-container" *ngIf="isAdminUser()">
      <button (click)="fillCreatePlayerForm();createDialog.open()"
              mat-icon-button
              aria-label="Create a new player"
              class="add-button"
              matTooltip="Create a new player"
      >
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="item-list-container">

  <ng-container *ngIf="playerPagedList$ | async as playerPagedList; else noPlayersTemplate ">
    <div class="sort-bar">
      <a class="sort-column">SORT BY: </a>
      <a class="sort-column active" title="Sort by default" (click)="onSortColumnClicked('default')">DEFAULT
        <mat-icon>swap_vert</mat-icon>
      </a>
      <a class="sort-column active" title="Sort by last name" (click)="onSortColumnClicked('lastname')">LAST NAME
        <mat-icon>swap_vert</mat-icon>
      </a>
      <a class="sort-column active" title="Sort by height" (click)="onSortColumnClicked('height')">HEIGHT
        <mat-icon>swap_vert</mat-icon>
      </a>
      <a class="sort-column active" title="Sort by weight" (click)="onSortColumnClicked('weight')">WEIGHT
        <mat-icon>swap_vert</mat-icon>
      </a>
      <a class="sort-column active" title="Sort by Birth Date" (click)="onSortColumnClicked('birthday')">BIRTH DATE
        <mat-icon>swap_vert</mat-icon>
      </a>
    </div>
    <div class="table-headers "
         [ngClass]="{'player-table-template': !isAdminUser(), 'player-table-template-admin': isAdminUser()}">
      <p class="table-header">PLAYER</p>
      <p class="table-header">TEAM</p>
      <p class="table-header">JERSEY NUMBER</p>
      <p class="table-header">POSITION</p>
      <p class="table-header">HEIGHT</p>
      <p class="table-header">WEIGHT</p>
      <p class="table-header">BIRTH DATE</p>
      <p class="table-header">COUNTRY</p>
      <p class="table-header" *ngIf="isAdminUser()"></p>
    </div>

    <app-player-item
      *ngFor="let player of playerPagedList.items"
      [player]="player"
      [isAdmin]="isAdminUser()"
      (deleteRequest)="onDeletePlayerClicked($event)"
      (updateRequest)="fillUpdatePlayerForm($event); editDialog.open()"
    ></app-player-item>
    <app-paginator
      *ngIf="playerPagedList.items.length > 0"
      [isDarkBackground]="true"
      [length]="playerPagedList.totalCount"
      [pageIndex]="playerPagedList.page - 1"
      [pageSize]="playerPagedList.pageSize"
      (pageChangedEvent)="onPageChangedEvent($event)"
    />
  </ng-container>
  <ng-template #noPlayersTemplate>
    <P class="main-text white">PLAYERS NOT FOUND</P>
  </ng-template>
</div>
<datamanager-pop-up #createDialog>
  <app-data-manager-create-and-edit-player [form]="playerActionsForm"
                                           action="Create"
                                           (close)="createDialog.close()"
                                           *datamanagerPopUpContent></app-data-manager-create-and-edit-player>
</datamanager-pop-up>
<datamanager-pop-up #editDialog>
  <app-data-manager-create-and-edit-player [form]="playerActionsForm"
                                           action="Edit"
                                           (closed)="editDialog.close()"
                                           *datamanagerPopUpContent></app-data-manager-create-and-edit-player>
</datamanager-pop-up>
